.item-container{
    background-color: #fff;
    cursor: pointer;
    transition: 0.35s all;
}
.item-container:hover{
    box-shadow: 0px 11px 9px -10px rgba(0,0,0,0.5);
}
.item-container figure{
    width: 100%;
    height: 250px;;
}
.item-container figure img{
    width: 100%;
}
.item-container .product-details{
    font-size: 12px;
    color: #000;
}
.item-container .product-details .product-price{
  font-family: 'Montserrat-Regular';
}
.item-container .product-details .product-name{
    font-family: 'Montserrat-Light';
    overflow-x: hidden;
    white-space: nowrap;
    width: 65%;
}