.logo-container{
    position: relative;
    cursor: pointer;
}
.logo-container span{
    font-family: 'OpenSans';
    background-color: rgba(0,0,0,0.90);
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
    font-weight: 900;
}
.logo-container figure{
    width: 75px;
    height: 75px;
}